<!-- Page 1 -->
<div class="row">
  <div id="address" class="whitebox col-sm-11 col-md-8 col-lg-7">
    <!-- <a class="back-button" href="#">Go back</a> -->
    <div class="whitebox-container clearfix">

        <form name="addressForm" ng-controller="AddressFormController">
          <!-- See https://developers.google.com/web/fundamentals/input/form/label-and-name-inputs
               for details on where the autocomplete etc values come from -->
          
          <div class="clearfix">
            <div id="addressInputs" ng-class="{addressValid: addressForm.$valid}" class="clearfix">
              <div class="form-group">
                <label for="streetAddress1">Street address</label>
                <input type="text"
                       id="streetAddress1"
                       name="address"
                       autocomplete="street-address"
                       ng-required="true"
                       ng-pattern="patterns.address"
                       ng-model="addressData.address"
                       class="form-control input-lg"
                       placeholder="1600 Pennsylvania Ave">
              </div>
              <div class="row">
                <div class="col-sm-8">
                  <div class="form-group">
                    <label for="city1">City</label>
                    <input type="text"
                           id="city1"
                           name="city"
                           autocomplete="address-level2"
                           ng-required="true"
                           ng-pattern="patterns.city"
                           ng-model="addressData.city"
                           class="form-control input-lg"
                           placeholder="Washington, DC">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="zip1">Zip code</label>
                    <input type="tel"
                           id="zip1"
                           name="postal"
                           autocomplete="postal-code"
                           ng-required="true"
                           ng-pattern="patterns.postal"
                           ng-model="addressData.postal"
                           class="form-control input-lg"
                           placeholder="20500">
                  </div>
                </div>
              </div>
            </div>

            <div ng-class="{addressValid: addressForm.$valid}" class="clearfix" id="submitAddress">
              <button type="submit"
                      class="btn btn-lg btn-orange"
                      ng-click="validateAddress()">
              Submit
              </button>
            </div>
          </div>


          <div class="alert alert-danger"
               ng-show="error && !addressForm.$pristine">
            [[ error ]]
          </div>

        </form>

        <div class="whitebox-footer text-center">
          AFS uses the <a href="https://smartystreets.com/" target="_blank">SmartyStreets Geocoding API</a> and the <a href="https://sunlightlabs.github.io/congress/" target="_blank">Sunlight Congress API</a> and is based on <a href="http://democracy.io" target="_blank">Democracy.io</a>.
        </div>

    </div>
  </div>

  <div id="brand">
    <div style="padding-bottom:10px;">
      <a href="https://www.facebook.com/academicsforthefutureofscience" target="_blank" style="border-bottom: none;">
        <img class="img-responsive" src="/static/1.0.2/img/social_media_icons/facebook.png" style="margin-left:auto; margin-right:auto; display:inline-block; width:26px;" />
      </a>
      <span>&nbsp;&nbsp;</span>
      <a href="http://twitter.com/SaveScience" target="_blank" style="border-bottom: none;">
        <img class="img-responsive" src="/static/1.0.2/img/social_media_icons/twitter.png" style="margin-left:auto; margin-right:auto; display:inline-block; width:26px;" />
      </a>
    </div>
    <span class="hidden-xs" >
      A project of <a href="https://www.facebook.com/academicsforthefutureofscience" target="_blank">Academics for the Future of Science</a>
    </span>
    <span class="visible-xs">
      A project of <a href="https://www.facebook.com/academicsforthefutureofscience" target="_blank">Academics for the Future of Science</a>
    </span>
    <div>
      <div class="fb-like" data-href="https://www.facebook.com/academicsforthefutureofscience" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" style="padding-top:23px; width:397px;"></div>
    </div>
  </div>
</div>
